body{
  background-color: #E9EBEE;
}
#my-nav{
  background-color: #4267b2;
  color:white;
}
#my-nav a{
  color: white;
}
#icon-color span{
  color: #0D1325;
  font-size: 17px;
}
.box-width{
  min-width:448px;
}
footer{
  height: 40px;
  margin-top: 30px;
}

.p-align p{
  padding: 20px 15px 0px 15px;
  color:solid-black;
}
.p-align a{
  color: black;
}
/*.post-section, .ads{
  background-color: white;
  height:800px;*/

}
.pills-width a{
  font-size: 13px;
  padding-right: 5px !important;
}
.panel-body .glyphicon{
  margin-left: 10px;
  margin-right: 5px;
}
.ads{
  background-color: white !important;
}
