.color-body{
  background-color: #E9EBEE;
}
/*.container{
  background-color: #E9EBEE;
margin-left: 20px !important;
}*/
#my-nav{
  background-color: #4267b2;
  color:white;
}
#my-nav a{
  color: white;
  position: relative;
}
.notify-badge{
    position: absolute;
    right:10px;
    top:7px;
    background:red;
    text-align: center;
    /*color:white !important;*/
    padding: 0 4px 0 4px;
    font-size: 10px !important;
    z-index: 2;
    border-radius: 50%;
  }

#icon-color span{
  color: #0D1325;
  font-size: 17px;
}
#icon-color img{
  border-radius: 50%;
}
.fa-user-plus{
  color: #0D1325 !important;
  font-size: 17px !important;
  padding-top: 4px !important;
}
.fa-globe{
 font-size: 17px !important;
 padding-top: 2px !important;
}
.box-width{
  min-width:448px;

}
@media (max-width:960px) {
    .box-width{
        min-width: 100px;
    }

}
footer{
  height: 40px;
  margin-top: 0px;
}

.p-align p{
  padding: 20px 15px 0px 15px;
  color:solid-black;
}
.p-align a{
  color: black;
  margin: -10px 0;
  display: block;
  font-size: 13px;
  padding: 8px;
}
.p-align i{
  padding: 0px 8px 4px 0px !important;
}
 .ads{
  height:800px;
}

.pills-width a{
  font-size: 13px;
  padding-right: 5px !important;
}
.panel-body .glyphicon{
  margin-left: 10px;
  margin-right: 5px;
}
.like-margin .glyphicon{
  margin-left: 10px;
  margin-right: 5px;
}
/*.ads{
  background-color: white !important;*/
}
.img-post{
  padding:10px;
}
.video-post{
  margin: 10px;
}
.plus{
  font-size: 10px !important;

}
.p-align .plus{
  background-color: grey !important;
  margin: 5px !important;
  font-size: 12px !important;
  border-radius: !important;
  color: white !important;

}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-question-circle{
  font-size: 20px !important;
color: black;
}
.icon-social {
    font-size: 30px !important;
    color: white;
    padding: 10px;
  }
  .panel-heading{
    background-color: white !important;
    border: 0px !important;
}
.media-left img{
  border-radius:50% !important;
  margin-top: 11px;
}
.media-body{
  padding-top: 8px;
}
.input-commentbox{
    width: 100% ;
    border-radius: 5px;
    color: gray;
    height: 32px;
    padding-left: 10px;
    border: none;
}
.input-commentbox:focus{
    border: none !important;
    box-shadow: none !important;
    outline: none;
}
.stories{
  border-radius: 50%;
  border-color: #4080ff ;
  border-style: solid ;
  border-width: 2px;
  margin-top: -14px;
  margin-right: 5px;
}
.jatin{
  margin-left: 5px !important;
}
.sanjana{
  margin-left: -5px !important;
}
.aman{
  margin-left: 2px;
}
.load-button{
  text-align: center;
}
.buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
   text-align: center !important;
}
